body {
    font-family: "Montserrat", sans-serif;
    background: #152135 !important;
}

.sipner-img {
    animation: spin 90s linear  infinite;
    width: 90%;
    height: 98%;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(100deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.banner-man-image {
    top: -80px;
    max-width: 450px;
}

.service-card:hover .service-shape {
    transform: scale(1);
    transition: all .5s ease-in-out;
}

.service-card:hover .service-shape {
    color: rgb(14, 111, 196);
    transform:  rotateY(360deg);
}






/* mobile device */


@media screen and (max-width: 576px) {

    /* banner */
    .banner-man-image {
        top: -80px;
        max-width: 215px;
    }

    .sipner-img {
        animation: spin 90s linear  infinite;
       width: 200px;
        height: 60%;
    }


}

/* tablet device */


@media screen and (min-width: 576px) and (max-width: 992px) {

    /* banner */
    .banner-man-image {
        top: -50px;
        max-width: 500px;
    }
}